@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

:root {
  --main-background-blue: hsl(233, 47%, 7%);
  --card-background-blue: hsl(244, 38%, 16%);
  --accent-purple: hsl(277, 43%, 44%);
  --main-white: hsl(0, 0%, 100%);
  --paragraph-white: hsla(0, 0%, 100%, 0.75);
  --stat-headings-white: hsla(0, 0%, 100%, 0.6);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  min-height: 100vh;
  background-color: var(--main-background-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 54rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: var(--card-background-blue);
}

.header-text {
  font-size: 3.8rem;
}
.paragraph-text {
  font-size: 1.5rem;
}
.main-flex-container {
  display: flex;
}

.landing-img {
  position: relative;
}
.row {
  position: absolute;
  width: 54.5rem;
  height: 450px;
  background-color: var(--accent-purple);
  z-index: 2;
  opacity: 0.4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.landing-img img {
  height: 100%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.header-text {
  color: var(--main-white);
  font-family: "Inter", sans-serif;
  padding: 7rem 7rem 3rem 7rem;
}

.header-text span:first-child {
  color: var(--accent-purple);
}
.paragraph-text {
  font-family: "Lexend Deca", sans-serif;
  padding-left: 7rem;
  color: var(--paragraph-white);
}

.companies,
.templates,
.queries {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 11rem);
  padding-top: 7rem;
  padding-left: 5rem;
  gap: 2rem;
}
.value {
  font-size: 2.2rem;
  font-family: "Inter", sans-serif;
  color: var(--main-white);
  font-weight: 700;
}
.text {
  font-family: "Lexend Deca", sans-serif;
  color: var(--stat-headings-white);
}
