/*DESKTOP*/
@media screen and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
  .container {
    width: 53rem;
  }
  .landing-img img {
    width: 53rem;
  }
  .grid-container {
    padding-top: 6rem;
  }
  .row {
    width: 53rem;
    height: 396px;
  }
}

/*LAPTOP*/
@media screen and (max-width: 960px) {
  html {
    font-size: 7px;
  }
  .grid-container {
    padding-bottom: 3rem;
  }
  .row {
    height: 308px;
  }
}

/*TABLET*/
@media screen and (max-width: 746px) {
  .main-flex-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
  }
  html {
    font-size: 8px;
  }
  .landing-img {
    grid-row-start: 1;
  }
  .landing-img img {
    width: 400px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 0px;
  }
  .container {
    width: 400px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
  }
  .row {
    width: 400px;
    height: 100%;
  }
}

/*MOBILE*/
@media screen and (max-width: 375px) {
  html {
    font-size: 6px;
  }

  .landing-img img {
    width: 50rem;
    height: 200px;
    margin-top: 40px;
    grid-row: 1 / span 1;
  }
  .container {
    width: 50rem;
    margin-bottom: 50px;
  }

  .main-flex-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .row {
    width: 50rem;
    height: 201px;
    margin-top: 40px;
  }
  .grid-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  .companies {
    grid-row: 1;
    grid-column: 2;
  }
  .templates {
    grid-row: 2;
    grid-column: 2;
  }
  .queries {
    grid-row: 3;
    grid-column: 2;
  }
  .header-text {
    text-indent: 2rem;
  }
  .word-grow-div {
    text-indent: 13rem;
  }
  .paragraph-text {
    line-height: 2.5rem;
    font-size: 10px;
  }
}
