* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  min-height: 100vh;
  background-color: var(--main-background-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}
